.titulo {
  background-color: darkslategray;
  color: white;
}
.seciones{
  margin-top: 100px;
}
.option1 {
  text-align: center;
}
.option1 li {
  display: inline;
  text-decoration: none;
}
li {
  margin: 10px;
}
.option {
  color: white;
}

.option:hover {
  border-bottom: 1px solid rgb(238, 6, 6);
  transition: all 1s;
}
/*estilos de seccion 1*/
.section1 {
  background-color: lightseagreen;
  width: 100%;
  height: auto;
}
p {
  
  text-align: center;
  font-size: 40px;
  color: white;
}
.subtitle {
  text-align: center;
  font-size: 20px;
  color: white;
}
h1 {
  color: white;
  text-align: center;
  
  font-size: 40px;
}
/*estilos sección 2*/
.section2{
  margin-top: 50px;
}
h3 {
  color: black;
  text-align: center;
  font-size: 40px;
}
.title2 {
 
  text-align: center;
  font-size: 40px;
  color: black;
}
img{
  width: 400px;
  height: auto;
}
.portafolio{
  padding: 50px;
}
/*estilos sección 3*/
.section3{
  background-color:lightseagreen;
  margin-top: 50px;
}
.section3 h3{
  color: white;
}
.texto{
  text-align: justify;
  color: white;
  padding: 50px 100px 50px;
  font-size: 25px;
}
.boton{
  text-align: center;
  width: 300px;
  height: 50px;
  border: 1px solid white;
  margin-bottom: 50px;
}
.boton p{
  padding-bottom: 20px;
  text-align: center;
  font-size: 24px;

}
.boton:hover{
  background-color: tomato;
}
/*estilos section 4*/
.section4{
  max-width: 800px;
  height: auto;
  margin: 5% auto;
  padding: bottom 1rem ;
  color: black;
 
}
.section4 h3{
  color:black;
}
.form_cont{
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.input, .btn_submit{
  padding: 1px;
  margin: 1rem;
  border: none;
  border-bottom: solid #c8c8c8 1px;
  transition: all 2s;
  font-size: 20px;
}
.btn_submit{
  background-color: teal;
  padding: 1rem;
  color: white;
  border-radius: 10px;
}
.btn_submit:hover{
  background-color: tomato;
}
.input:focus{
  border-bottom: solid #f39b53 2px;
}
/* Pie de Pagina*/
.pie{
  width: 100%;
  height: 400px;
  background-color: slategray;
  margin-top: 100px auto;  
  color: black;
}
.pie h3{
  text-align: center;
  color: white;
  margin: 50px 0px;
}
.pie p{
  font-size: 30px;
}
.pie span{
  color:white
    
}
.pie p span{
  font-size: 50px;
  margin: 20px;
}
.pie b{
  color: rgb(32, 224, 118);
}
.pie .copy{
text-align: center;
font-size: 18px;
}